<div class="col-md-12" ng-controller="NewpatientCtrl">
  <div class="container" id="container">
      <div class="page-header">
          <h2>Alta de Paciente
            <span class="pull-right"><img class="circle" src="../img/medical-icons-48x48.png"/></span></h2>
      </div>
      <div class="page-body">
        <div class="panel-default">
          <div class="panel-body">
            <uib-accordion>
              <uib-accordion-group is-open="isAccordionOpen" ng-init="isAccordionOpen = false">
                <uib-accordion-heading>
                  Seleccionar Planilla <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isAccordionOpen, 'glyphicon-chevron-right': !isAccordionOpen}"></i>
                </uib-accordion-heading>
                  <div ng-include="'app/patient/spreadsheets.html'"></div>
              </uib-accordion-group>
            </uib-accordion>
          </div>
        </div>
        <form id="newPatient" class="form-horizontal" style="margin-top: 25px;" ng-show="isEmpty()">
            <div class="form-group">
                <label for="patient" class="col-sm-3 col-xs-3 control-label">Paciente</label>
                <div class="col-sm-6 col-xs-8 ">
                  <input class="form-control" ng-model="patient.name" type="text" uib-typeahead="patient for patient in autcompletePatient($viewValue) | limitTo:8", ng-blur="getClientId(patient.name)">
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-sm-3 col-xs-3 control-label">Fecha</label>
                <div class="col-sm-6 col-xs-8">
                  <p class="input-group">
                    <input class="form-control" type="text" uib-datepicker-popup="{{format}}" ng-model="patient.date" is-open="isOpen" ng-init="isOpen = false">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="isOpen = !isOpen"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
            </div>

            <div class="form-group">
                <label for="invoiceOwner" class="col-sm-3 col-xs-3 control-label">Factura a Cargo</label>
                <div class="col-sm-6 col-xs-8">
                  <input class="form-control" ng-model="patient.invoiceOwner" type="text" uib-typeahead="owner for owner in autocompleteOwner($viewValue) | limitTo:8">
                </div>
            </div>

            <div class="form-group">
                <label for="patology" class="col-sm-3 col-xs-3 control-label">Patolog&iacute;a</label>
                <div class="col-sm-6 col-xs-8">
                    <input ng-model="patient.pathology" uib-typeahead="pathology for pathology in autocompletePathology($viewValue) | limitTo:8" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="hospital" class="col-sm-3 col-xs-3 control-label">Sanatorio</label>
                <div class="col-sm-6 col-xs-8">
                    <input id="hospital" ng-model="patient.hospital" uib-typeahead="hospital for hospital in autocompleteHospital($viewValue) | limitTo:8" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="room" class="col-sm-3 col-xs-3 control-label">Habitacion</label>
                <div class="col-sm-6 col-xs-8">
                    <input type="text" id="room" name="room" ng-model="patient.room" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="plan" class="col-sm-3 col-xs-3 control-label">Plan</label>
                <div class="col-sm-6 col-xs-8">
                  <select id="plan" name="plan" ng-model="patient.plan" class="form-control">
                    <option value=""></option>
                    <option value="025">025</option>
                    <option value="210">210</option>
                    <option value="310">310</option>
                    <option value="410">410</option>
                  </select>
                </div>
            </div>

            <div class="form-group">
                <label for="credential_number" class="col-sm-3 col-xs-3 control-label">N&uacute;mero</label>
                <div class="col-sm-6 col-xs-8">
                  <input id="credential_number" class="form-control" ng-model="patient.credential_number" type="text" name="credential_number">
                </div>
            </div>
            <div class="form-group">
                <label for="treatment" class="col-sm-3 col-xs-3 control-label">Tratamiento</label>
                <div class="col-sm-6 col-xs-8">
                  <input id="treatment" class="form-control" type="textarea" ng-model="patient.treaetment" rows="4" cols="50" name="treatment">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-xs-offset-3 col-sm-6 col-xs-8">
                    <input type="submit" value="Create" id="createSCAction" ng-click="save()" ng-disabled="!isEmpty()" class="btn btn-success" data-loading-text="Loading...">
                    <input type="submit" value="Reset" id="closePopup" ng-click="reset()" class="btn btn-danger pull-right">
                </div>
            </div>
        </form>
    </div>
  </div>
</div>
