<div class="col-md-12">
  <div class="row">
  <div class="form-group">
    <div class="col-sm-10 col-xs-12">
      <input type="text" ng-model="filename" class="form-control"/>
    </div>
    <div class="col-sm-1 col-xs-1">
      <span class="input-group-btn">
        <button type="button pull-right" class="btn btn-primary" ng-click="addFile(filename);filename=''"><i class="glyphicon glyphicon-plus-sign"></i></button>
      </span>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="form-group" ng-repeat="file in files">
    <div class="col-sm-10 col-xs-12">
      <input type="text" value="{{file.title}}" ng-readonly="true" class="form-control">
    </div>
    <div class="col-sm-1 col-xs-1">
      <span class="input-group-btn">
        <button type="button" class="btn btn-danger" ng-click="removeFile($index)"><i class="glyphicon glyphicon-remove-sign"></i></button>
      </span>
    </div>
  </div>
</div>
</div>
